<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="container col-8">
    <table class="table m-4 table-bordered table-hover table-dark">
        <thead class="thead-dark">
        <th scope="col">Nombre</th>
        <th scope="col">Añada</th>
        <th scope="col">Precio</th>
        <th scope="col">Etiqueta</th>
        </thead>
        <tbody class="table-group-divider table-divider-color">
        <tr th:each="vino : ${vinos}" class="table-secondary">
            <td th:text="${vino['nombre']}">Nombre</td>
            <td th:text="${vino['aniada']}">Añada</td>
            <td th:text="'$' + ${vino['precio']}">Precio</td>
            <td> <!-- mostrar imagen etiqueta -->
                <img th:src="${vino['imagenEtiqueta']}" alt="Etiqueta de vino" width="100" height="150" />
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>